* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: antiquewhite;
}

header a {
    text-decoration: none;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.profile-container {
    text-align: center;
}