body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    gap: 50px;
    flex-grow: 1;
}

 /* All the messages */
.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.message-container {
    width: 70%;
    min-height: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--beige);
    text-align: center;
    border-radius: 10px;
    border: 3px solid var(--grey);
}

.message-secret-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.message-secret-info > .message-img {
    width: 50px;
    height: 50px;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.message-secret-info > .message-date {
    position: absolute;
    top: 10px;
    right: 10px;
    letter-spacing: 1px;
}

.message-container > p:nth-of-type(1) {
    width: 80%;
    margin-top: 10px;
}

.message-container > form > button {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Create message */
.new-message > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.new-message .form-group {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new-message .form-group > label {
    font-weight: 600;
}

.new-message .form-group > input, 
.new-message .form-group > textarea {
    padding: 10px 5px;
    font-size: 1rem;
}

.new-message .form-group > input:focus,
.new-message .form-group > textarea:focus {
    outline: none;
}

.new-message > form > button {
    font-size: 1.2rem;
    background-color: var(--beige);
    border: 2px solid var(--brown);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Membership */
.membership > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.membership > form > label {
    font-size: 1.2rem;
}

 form > input {
    padding: 10px 5px;
    font-size: 1rem;
}

.membership > form > input:focus {
    outline: none;
}

.membership > form > button {
    font-size: 1.2rem;
    background-color: var(--beige);
    border: 2px solid var(--brown);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}