<header>
    <h1><a href="/messages">Brothers's Clubhouse</a></h1>

    <nav>
        <ul>
            
            <li><a href="/new">Add a message</a></li>
            
            <% if(currentUser && !currentUser?.membershipstatus) { %>
                <li><a href="/membership">Become a member</a></li>
            <% } %>

        </ul>
    </nav>

    <div class="profile-container">
        <% if (!currentUser) { %>
            <p>No haz iniciado sesion</p>
        <% } else { %>
            <p><%= currentUser.username %></p>
            <p>Status: <%= currentUser.membershipstatus ? "Member" : "Not member" %></p>
            <p><a href="/log-out">Log out</a></p>
        <% } %>
    </div>
</header>