<header>
    <h1><a href="/">Brothers's Clubhouse</a></h1>

    <nav>
        <ul>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/messages/new">Add a message</a></li>
            <li><a href="/membership">Membership</a></li>
        </ul>
    </nav>

    <div class="profile-container">
        <% if (!currentUser) { %>
            <p>No haz iniciado sesion</p>
        <% } else { %>
            <p><%= currentUser.username %></p>
            <p><a href="/log-out">Log out</a></p>
        <% } %>
    </div>
</header>