<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Brother's Clubhouse!</h1>

    <a href="/">See all the messages!</a>

    <div class="links-container">
        <p>Do you have an account? <a href="/log-in">Log in</a></p>
        <p>First time? <a href="/sign-up">Sign up</a></p>
    </div>
</body>
</html>